body {
  font-family: "Poetsen One", sans-serif;
  background-color: white;
}

.red {
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

.background {
  width: 100%;
  height: auto;

}

.descripcion {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 63, 63);
  height: 3em;
  padding: 5em;
  font-size: 2em;
  color: white;
}

.centro-rosa {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(230, 63, 63);
  height: 3em;
  padding: 16em;
}

