body {
  font-family: "Poetsen One", sans-serif;
  background-color: white;
}

.red {
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

.background {
  width: 100%;
  height: auto;

}

.descripcion {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 63, 63);
  height: 3em;
  padding: 5em;
  font-size: 2em;
  color: white;
}

.centro-rosa {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(230, 63, 63);
  height: 3em;
  padding: 16em;
}

.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
}
.carousel-caption a {
  background: red;
	padding: 1em;
	display: inline-block;
	color: black;
	margin-top: 1em;
	text-transform: uppercase;
	text-decoration: none;
	
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 13em;
}

.carousel-caption h5 {
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 1em;
}
